/*Reset, fonts and basic frames of website*/

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "raleway";
    src: url("../raleway/Raleway-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "raleway";
    src: url("../raleway/Raleway-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

body {
    color: white;
    font-family: "raleway", Arial, sans-serif;
}

.main_width {
    width: 1050px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: #fff;
}

/*first bar with logo & nav*/
header {
    background-color: black;
    width: 100%;
}

nav {
    float: right;
}

h1 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
    display: inline-block;
}

span {
    color: #30c0a8;
    font-weight: bold;
}

.block__menu a {
    display: inline-block;
    padding: 15px 0 13px 0;
}

.block__menu a:hover {
    color: #30c0a8;
}

.block__menu > nav > ul > li {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 50px;
}

.block__menu > nav > ul > li:first-child {
    padding-bottom: 0;
}

.block__menu > nav > ul > li:hover:first-child {
    border-bottom: 2px solid #30c0a8;
}

/*Pop-up menu*/
.block__menu ul {
    list-style-type: none;
}

.pop-up-menu > li > a {
    padding: 0;
}

.block__menu > nav > ul > li > ul {
    display: none;
    position: absolute;
    top: 0;
    right: 465px;
    padding-top: 54px;
    width: 122px;
}

.block__menu > nav > ul > li > ul > li {
    background-color: black;
    color: #fff;
    padding: 15px;
    font-size: 12px;
    font-weight: normal;
}

.block__menu > nav > ul > li > ul::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 34px;
    left: 45px;
    border: 10px solid black;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
}

.block__menu > nav > ul > li:hover ul {
    display: block;
}

/*commercial section*/
article.block__commercial {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 47%, rgba(208, 208, 215, 1) 100%);
}

article.block__commercial > .main_width {
    height: 500px;
}

.sign {
    color: #30c0a8;
    font-size: 80px;
    margin-top: 210px;
    text-decoration: none;
}

.sign:hover {
    color: #008D75;
}

a.sign:first-child {
    float: left;
}

a.sign:last-child {
    float: right;
}

.block__commercial--main {
    float: left;
    display: inline-block;
    width: 450px;
    color: black;
    margin-top: 172px;
}

.block__commercial--main h1 {
    font-size: 40px;
    text-align: center;
    display: block;
    margin-bottom: 40px;
}

.block__commercial--main p {
    text-align: center;
}

img {
    float: left;
    display: inline-block;
    margin-top: 122px;
    position: relative;
}

.button {
    width: 260px;
    height: 50px;
    text-transform: uppercase;
    color: white;
    background-color: #30c0a8;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    border-radius: 8px;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.block__commercial--main .button a {
    color: white;
    font-size: 20px;
    display: inline-block;
    width: 260px;
    height: 50px;
    border-radius: 5px;
}

.button a:hover {
    background-color: #00ab8e;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

/*Second middle section*/
article.middle__second {
    background-color: #fff;
}

.middle__second > .main_width {
    height: 350px;
}

/*Price section*/
article.block__price {
    background-color: #f2f2f2;
}

.block__price > .main_width {
    height: 760px;
}

.block__price h1 {
    border-bottom: 8px solid #30c0a8;
    color: black;
    width: 320px;
    margin-top: 45px;
    font-size: 24px;
    padding-bottom: 5px;
}

.block__price--box {
    list-style: none;
}

.block__price--box > li {
    display: inline-block;
    margin-right: 33px;
}

.block__price--box > li:last-child {
    margin-right: 0px;
    float: right;
}

.box {
    position: relative;
    width: 320px;
    height: 520px;
    border: 2px solid #d8d8d8;
    margin-top: 75px;
    background-color: rgb(249, 249, 249);
}

.box::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: #d8d8d8;
    border: 12px solid white;
    box-shadow: 0 0 4px #d8d8d8;
    width: 25px;
    height: 25px;
    top: -35px;
    left: 135px;
}

.box--upper {
    height: 250px;
}

.box--upper > p {
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    color: #30c0a8;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.box--circle {
    position: absolute;
    background-color: #ffffff;
    border: 4px solid #d8d8d8;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    left: 94px;
}

.box--circle p {
    font-weight: bold;
    font-size: 45px;
    color: #d8d8d8;
    text-align: center;
    padding-top: 30px;
}

.box--circle p:last-child {
    font-size: 14px;
    padding-top: 8px;
    text-transform: uppercase;
}

.box--text-align {
    position: absolute;
    left:27px;
}

.box--text-align > p > sup {
    position: absolute;
    font-size: 14px;
}

#last-sup {
    top: 30px;
    left: 65px;
}

.bar:nth-child(2n) {
    background-color: rgb(228, 228, 228);
}

.bar {
    float: right;
    height: 45px;
    width: 100%;
    background-color: rgb(241, 241, 241);
    color: rgb(166, 166, 166);
    text-align: center;
    font-size: 24px;
    line-height: 45px;
}

.box--button {
    position: absolute;
    width: 125px;
    height: 40px;
    line-height: 40px;
    border-radius: 12px;
    left: 97px;
    bottom: 20px;
}

.box--button a {
    display: inline-block;
    width: 125px;
    height: 40px;
    line-height: 40px;
    border-radius: 12px;
}

/*box hover*/
.box:hover {
    background-color: #30c0a8;
    border-color: #30c0a8;
}

.box:hover .box--button {
    background-color: #fff;
}

.box:hover .box--button a {
    border-radius: 12px;
    color: #30c0a8;
}

.box--button a:hover {
    border-radius: 12px;
    color: #30c0a8;
    background-color: #ffffff;
}

.box:hover .box--circle {
    border-color: #30c0a8;
}

.box:hover .box--circle p {
    color: #30c0a8;
}

.box:hover .box--upper > p {
    color: #fff;
}

.box:hover:after {
    background-color: #fff;
    border: 12px solid #30c0a8;
    box-shadow: 0 0 0px #fff;
}

.box:hover .bar {
    background-color: rgb(228, 228, 228);
}


.box:hover .bar:nth-child(2n) {
    background-color: #F1F1F1;
}
