/*Reset, fonts and basic frames of website*/

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "raleway";
  src: url("../raleway/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("../raleway/Raleway-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

body {
  color: white;
  font-family: "raleway";
}

.main_width {
  width: 1050px;
  margin: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #30c0a8;
}

/*first bar with logo & nav*/

header {
  background-color: black;
  padding: 15px 0 13px 0;
  width: 100%;
}

nav {
  float: right;
}

h1 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  display: inline-block;
}

span {
  color: #30c0a8;
  font-family: "raleway";
  font-weight: bold;
}

.container__first > nav > ul > li {
  font-size: 14px;
  font-family: "raleway";
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 50px;
  position: relative; /*add*/
}

/*Pop-up menu*/
.container__first > nav > ul > li > ul {
  display: none;
  position: absolute;
  top: 0;
  right: -40px;
  padding-top: 42px;
  width: 122px;
}

.container__first > nav > ul > li > ul > li{
  background-color: black;
  color: #fff;
  padding: 15px;
  font-size: 12px;
  font-weight: normal;
}

.container__first > nav > ul > li > ul::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 22px;
  left: 45px;
  border: 10px solid black;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
}

.container__first > nav > ul > li:hover:first-child {
  border-bottom: 2px solid #30c0a8;
}

.container__first > nav > ul > li:hover ul {
  display: block;
}

.container__first ul {
  list-style-type: none;
}

/*first middle section*/

article.middle__first {
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 47%, rgba(208,208,215,1) 100%);
}

.inside-main {
  height: 500px;
}

.sign {
  color: #30c0a8;
  font-size: 80px;
  margin-top: 210px;
  text-decoration: none;
}

.sign:hover {
  color: #008D75;
}

a.sign:first-child {
  float: left;
}

a.sign:last-child {
  float: right;
}

.left-main {
  float: left;
  display: inline-block;
  width: 450px;
  color: black;
  margin-top: 172px;
}

.left-main h1 {
  font-size: 40px;
  text-align: center;
  display: block;
  margin-bottom: 40px;
}

.left-main p {
  text-align: center;
}

img {
  float: left;
  display: inline-block;
  margin-top: 122px;
}

.button {
  width: 260px;
  height: 50px;
  text-transform: uppercase;
  color: white;
  background-color: #30c0a8;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
}
